@import "tailwindcss";

html {
    background-color: #FCFCFC;
}

.catalog {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 320px) {
    .catalog {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}